Installed-Size.txt
2web_UNSTABLE.zip
2web_UNSTABLE.iso
2web_UNSTABLE.tar.gz
2web_UNSTABLE.deb
*.backup
*.old
*.swp
test/
Test/
TEST/
node_modules/
package.json
package-lock.json
.todo
simple_version.txt
