[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=exo-open http://localhost/
Name=2web
Comment=Access 2web media server on local machine
Categories=System;
GenericName=2web
Icon=/usr/share/2web/favicon_default.png
StartupNotify=true
