html{
	background-size: 100vw;
	background-color: darkgray;
	background-repeat: repeat;
	background-attachment: fixed;
	text-align: center;
	/* cut the gap on the right of the page */
	/* overflow-x: hidden; */
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
}
body{
	margin: 0px;
}
h1 {
	text-align: center;
	color: white;
	-webkit-text-stroke: 0.04em black;
}
.date{
	color: white;
	font-size: 1em;
	-webkit-text-stroke: 0.01em black;
}
#topButton{
  position: fixed; /* Fixed/sticky position */
  bottom: 0px; /* Place the button at the bottom of the page */
  right: 0px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  font-size: 2vw; /* Increase font size */
	padding: 0px;
}
.ERROR{
	background-color: darkred;
}
.WARNING{
	background-color: orange;
}
.INFO{
	background-color: darkBlue;
}
/*
.seasonHeader {
	box-shadow: 0px 0px 10px black;
	background-color: rgba(100,100,100,0.10);
}
*/
.seasonContainer{
	box-shadow: 0px 0px 1em black;
	text-align: center;
	background-color: rgba(100,100,100,0.85);
}
.episodeList{
	margin-left: auto;
	margin-right: auto;
}
h2 {
	text-align: center;
	color: white;
	-webkit-text-stroke: 0.04em black;
}
.channelLink {
	margin-bottom: 3px;
	text-decoration: none;
	display: flex;
	width: 100%;
	font-size: 30px;
	text-align: center;
	background-color: gray;
	color: black;
	border-size: 4px;
}
.channelLink:hover {
	background-color: green;
	color: white;
}
.header{
	text-decoration: none;
	text-align: center;
	color: white;
	display: inline-block;
	width: 95vw;
	margin: 2vw;
}
.randomFanart{
	background: url("randomFanart.php");
	background-size: 100vw 100vh;
	background-color: darkgray;
	background-repeat: repeat;
	background-attachment: fixed;
}
/* if the screen is smaller than 800px or in portrait mode*/
@media only screen and (max-width: 800px), (orientation: portrait){
	.header .button{
		width: 80vw !important;
		display: block !important;
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;
	}
	#nfoMediaPlayer, video, audio{
		margin: 0px !important;
		width: 100vw !important;
		min-width: 0px !important;
	}
	.randomFanart{
		background: url("randomPoster.php") !important;
		background-size: 100vw 100vh !important;
		background-color: darkgray !important;
		background-repeat: repeat !important;
		background-attachment: fixed !important;
	}
	.progressIndicator{
		font-size: 1em !important;
	}
	.hardLink{
		width: 80vw !important;
		display: block !important;
		text-align: center !important;
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
	}
}
@media only screen and (max-width: 400px), (orientation: portrait){
	html{
		font-size: 42px;
	}
}
#nfoMediaPlayer, video, audio{
	margin: 15px;
	box-shadow: 0px 0px 1.5em white;
	height: 400px;
	min-width: 800px;
	background-color: black;
}
.progressIndicator{
	width: 100vw;
	margin: 0px;
	text-align: center;
	background-color: darkgreen;
	color: white;
	position: fixed;
	top: 0px;
	z-index: 99;
	font-size: 0.01em;
	padding: 0px !important;
}
#settingsButton{
	float: right;
}
#homeButton{
	float: left;
}
.button{
	box-shadow: 0px 0px 1em black;
	margin: 0.3em;
	padding: 0.5em;
	border-style: solid;
	border-color: white;
	border-width: 0.2em;
	background-color: gray;
	text-decoration: none;
	color: white;
	text-align: center;
}
.button:hover{
	box-shadow: 0px 0px 0px black;
	color: black;
	background-color: white;
	border-color: black;
}
.indexBody{
	text-align: center;
}
/************************************/
/* SERIES icons for main index page */
/************************************/
.listCard{
	white-space: nowrap;
	overflow-x: auto;
}
.titleCard{
	background-color: rgba(100,100,100,0.85);
	box-shadow: 0px 0px 1em black;
	margin: 1em;
}
.listCard .indexSeries{
	width: 4em !important;
	height: 6em !important;
}
.listCard .indexSeries div{
	display: none;
}
.listCard .indexSeries img{
	width: 100%;
	height: 100%;
}
.indexSeries{
	font-size: 1em;
	vertical-align: bottom;
	text-decoration: none;
	color: white;
	text-align: center;
	margin: 10px;
	display: inline-block;
	background-color: gray;
	width: 8em;
	height: 12em;
	border: 4px solid white;
	box-shadow: 0px 0px 1em black;
	/*
	width: 200px;
	height: 350px;
	*/
}
.indexSeries:hover{
	box-shadow: 0px 0px 0px black;
	background-color: white;
	color: black;
}
.hardLink{
	float: right;
}
.indexSeries img{
	width: 100%;
	height: 75%;
	/*
	width: 10vw;
	width: 200px;
	height: 300px;
	*/
}
.indexSeries div{
	text-align: center;
	width: auto;
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}
a{
	color: white;
	text-decoration: underline;
}
a:hover{
	color: black;
	text-decoration: none;
	background-color: white;
}
p, dl{
	padding: 10px;
}
/*******************************/
/* EPISODE icons for show page */
/*******************************/
.showPageEpisode{
	font-size: 1em;
	border: 4px solid white;
	box-shadow: 0px 0px 1em black;
	text-align: center;
	text-decoration: none;
	color: white;
	text-align: center;
	margin: 5px;
	display: inline-block;
	background-color: gray;
	width: 8em;
	height: 8em;
	/*
	height: 10vw;
	height: 300px;
	*/
	background-size: 100vw 100vw;
	vertical-align: top;
	overflow-y: hidden;
	overflow-x: hidden;
}
.showPageEpisode h3{
	font-size: 0.5em;
	/*
	width: 200px;
	height: 250px;
	*/
	text-align: center;
	word-wrap: break-word;
	display: inline-block;
	/*
	align-items: flex-end;
	*/
	overflow-y: hidden;
	overflow-x: hidden;
}
.showPageEpisode:hover{
	box-shadow: 0px 0px 0px black;
	background-color: white;
	color: black;
}
.showPageEpisode img{
	width: 100%;
	height: 50%;
}
/*
.showPageEpisode div{
	text-align: center;
	width: 200px;
	height: 150px;
}
/*******************************/
table, th, td{
	border: 1px solid white;
	color: white;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
.player audio{
	height: 400px;
}
.player video{
	height: 400px;
}
.descriptionCard{
	text-align: left;
	box-shadow: 0px 0px 1em black;
	color: white;
	background-color: rgba(100,100,100,0.85);
}
#player{
	box-shadow: 0px 0px 1em black;
	object-fit: cover;
	float: left;
	background-color: lightgray;
	height: 530px;
	text-align: center;
}
.channelList{
	height: 530px;
	overflow-y: scroll;
}
.channelIcon{
	width: 50px;
	height: 50px;
}
