html{
	height: 100%;
}
::selection{
	color: var(--highlightText);
	background-color: var(--highlightBackground);
}
::-moz-selection{
	color: var(--highlightText);
	background-color: var(--highlightBackground);
}
body{
	background: linear-gradient(to top, var(--glassBackground),transparent);
	margin: 0px;
	min-height: 100%;
}
select{
	font-size: 1rem;
}
sup{
	font-size: 0.5rem;
}
a:visited {
	color: inherit;
}
.tag{
	line-height: 1rem;
	font-size: 1rem;
	display: inline-block;
}
hr{
	visiblity: hidden;
	border-width: 0px;
}
/* fix the scrollbars */
/* MOZILLA SCROLLBAR */
html{
	scrollbar-color: var(--solidBackground) var(--glassBackground);
	scrollbar-width: auto;
}
/* WEBKIT SCROLLBAR*/
.fortuneText::-webkit-scrollbar{
	width: 0.8rem;
	background: var(--solidBackground);
}
.fortuneText::-webkit-scrollbar-thumb{
	width: 0.8rem;
	background: var(--glassBackground);
	box-shadow: 0px 0px 1rem var(--shadowColor);
	border: 1px var(--textColor) solid;
}
pre::-webkit-scrollbar{
	width: 0.8rem;
	background: var(--solidBackground);
}
pre::-webkit-scrollbar-thumb{
	width: 0.8rem;
	background: var(--glassBackground);
	box-shadow: 0px 0px 1rem var(--shadowColor);
	border: 1px var(--textColor) solid;
}
.listCard::-webkit-scrollbar{
	width: 0.8rem;
	background: var(--solidBackground);
}
.listCard::-webkit-scrollbar-thumb{
	width: 0.8rem;
	background: var(--glassBackground);
	box-shadow: 0px 0px 1rem var(--shadowColor);
	border: 1px var(--textColor) solid;
}
html::-webkit-scrollbar{
	width: 0.8rem;
	background: var(--solidBackground);
}
html::-webkit-scrollbar-thumb{
	width: 0.8rem;
	background: var(--glassBackground);
	box-shadow: 0px 0px 1rem var(--shadowColor);
	border: 1px var(--textColor) solid;
}
.weatherDescription::-webkit-scrollbar{
	width: 0.8rem;
	background: var(--solidBackground);
}
.weatherDescription::-webkit-scrollbar-thumb{
	width: 0.8rem;
	background: var(--glassBackground);
	box-shadow: 0px 0px 1rem var(--shadowColor);
	border: 1px var(--textColor) solid;
}
.channelList::-webkit-scrollbar{
	width: 0.8rem;
	background: var(--solidBackground);
}
.channelList::-webkit-scrollbar-thumb{
	width: 0.8rem;
	background: var(--glassBackground);
	box-shadow: 0px 0px 1rem var(--shadowColor);
	border: 1px var(--textColor) solid;
}
html{
	background-size: 100vw;
	background-color: var(--solidBackground);
	background-repeat: repeat;
	background-attachment: fixed;
	text-align: center;
	/* cut the gap on the right of the page */
	/* overflow-x: hidden; */
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
	color: var(--textColor);
}
.channelLink {
	margin-bottom: 0.05rem;
	text-decoration: none;
	display: flex;
	width: 100%;
	/*
	font-size: 30px;
	text-align: center;
	*/
	text-align: left;
	font-size: 1rem;
	word-wrap: break-word;
	background-color: var(--glassBackground);
	color: var(--textColor);
	border-size: 0.02rem;
}
.channelLink:hover {
	background-color: var(--highlightBackground);
	color: var(--highlightText);
}
.indexLink{
	color: var(--textColor);
	display: inline-block;
	padding: 0px !important;
	width: 5rem;
	margin: 2rem;
	vertical-align: top !important;
}
/*
.listCard .showPageEpisode .title{
	display: none;
}
*/
.listCard .indexLink{
	width: 5rem;
}
.listCard .indexLink .indexIcon{
	width: 5rem;
	height: 5rem;
}
.listCard .indexLink .indexTitle{
	display: none;
}
.radioIcon{
	font-weight: bold;
	text-shadow: 2px 2px var(--shadowColor);
	margin-left: auto;
	font-size: 0.9rem;
	float: right;
}
.indexIcon{
	background-image: var(--staticBackground);
	width: 5rem;
	height: 5rem;
}
@media (hover: none){
	.indexIcon{
		background-image: none;
	}
}
#channelsDownloadLink{
	padding: 1rem;
	/*
	width: 15rem;
	*/
	display: block;
	width: auto;
	margin: 1rem;
}
h1 {
	text-align: center;
	color: var(--textColor);
	-webkit-text-stroke: 0.04rem black;
}
.date{
	color: var(--textColor);
	font-size: 1rem;
	-webkit-text-stroke: 0.01rem black;
}
#topButton{
	font-size: 2rem;
	font-weight: bold;
  position: fixed; /* Fixed/sticky position */
  bottom: 0px; /* Place the button at the bottom of the page */
  right: 0px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
	padding: 0px;
}
#vlcIcon{
	color: orange;
	font-weight: bold;
}
.ERROR{
	background-color: darkred;
}
.DOWNLOAD{
	background-color: green;
}
.DEBUG{
	background-color: gray;
}
.WARNING{
	background-color: orange;
}
.NEW{
	background-color: darkgreen;
}
.UPDATE{
	background-color: darkslateblue;
}
.INFO{
	background-color: darkslategray;
}
/*
.seasonHeader {
	box-shadow: 0px 0px 10px black;
	background-color: rgba(100,100,100,0.10);
}
*/
.seasonContainer{
	box-shadow: 0px 0px 1rem var(--shadowColor);
	text-align: center;
	/*
	background-color: rgba(100,100,100,0.85);
	*/
	background-color: var(--glassBackground);
}
.episodeList{
	margin-left: auto;
	margin-right: auto;
}
h2 {
	text-align: center;
	color: var(--textColor);
	-webkit-text-stroke: 0.04rem black;
}
ol li{
	margin-left: 1rem;
	color: var(--textColor);
	text-align:left !important;
}
.comicPageBackground{
	/*
	background-image: var(--staticBackground);
	*/
	filter: blurr(5px);
}
.menuButton{
	background-color: var(--textColor);
	border: 0.1rem solid var(--borderColor);
	display: none !important;
}
.enabledSetting{
 background-color: #99ff33 !important;
 color: var(--textColor) !important;
}
.settingsEntry h3{
	font-size: 3rem;
	/*
	box-shadow: 0px 0px 1.5rem var(--borderColor);
	*/
	text-shadow: 1rem 1rem 1rem 1rem var(--borderColor);
	-webkit-text-stroke: 0.04rem black;
	margin: 0px;
}
.disabledSetting{
 background-color: #CC0000 !important;
 color: var(--textColor) !important;
}
#videoPlayerContainer{
	display: inline-block;
}
/*
@media (hover: none){
	.videoPlayerControls{
		font-size: 2rem;
	}
}
*/
@media (hover: hover) and (pointer: fine){
	@media only screen and (max-width: 800px), (orientation: portrait){
		.menuButton{
			display: inline !important;
		}
		/*on desktop sites do not have the scroll slide channel list, place the list below the player*/
		.channelList{
			display: none !important;
			/*
			display: block !important;
			margin-left: auto !important;
			margin-right: auto !important;
			*/
		}
		.videoPlayerControls{
			font-size: 2rem;
		}
		.headerText{
			display: inline !important;
		}
	}
	/* on desktop sites rremove margin gaps so links are clickable */
	.header a{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	/* Hide the vlc button on desktop sites */
	.vlcButton{
		display: none;
	}
}
@media only screen and (max-width: 800px), (orientation: portrait){
	.footerText{
		display: none !important;
	}
	.footer .button .footerText:hover{
		display: inline !important;
	}
	.headerText{
		display: inline !important;
	}
	/* if the window is smaller than 800px */
	.menuButton{
		display: block !important;
		background-color: var(--glassBackground);
		height: 0.33rem;
		margin: 0px;
		margin-top:0.6rem;
		/*
		margin-bottom:0.5rem;
		*/
	}
	.header a{
		box-shadow: none;
		margin-top: 0px;
		margin-bottom: 0px;
		text-size: 2rem;
		/*
		padding-top: 1rem;
		padding-bottom: 1rem;
		transition: 1s;
		*/
	}
	.header{
		height: 3.3rem;
		overflow: hidden;
		/*transition: 5s;*/
	}
	.header:hover{
		position: relative;
		z-index: 1;
		overflow: visible;
		/*height: auto;*/
	}
}
ol{
	background-color: var(--glassBackground);
}
.seriesBackground{
	background: var(--backgroundFanart) !important;
	background-size: 100vw 100vh !important;
	background-repeat: repeat !important;
	background-attachment: fixed !important;
}
.randomFanart{
	background: url("/randomFanart.php");
	background-size: 100vw 100vh;
	/*
	background-color: darkgray;
	*/
	background-color: var(--solidBackground);
	background-repeat: repeat;
	background-attachment: fixed;
}
.liveBackground{
	background-image: url("/randomFanart.php");
}
.liveFilter{
	font-size: 1rem;
	margin-right: auto;
	margin-left: auto;
	width: 20vw;
}
.topButtonSpace{
	font-size: 0px;
	display: none;
}
.titleCard p{
	text-align: left !important;
}
/* if the screen is smaller than 800px or in portrait mode*/
/*
@media (hover: none){
*/
@media only screen and (max-width: 800px), (orientation: portrait){
	.indexLink{
		width: 20vw;
	}
	.indexLink img{
		width: 20vw;
	}
	.liveFilter{
		width:80vw;
	}
	.searchBox{
		width: auto;
	}
	.settingsEntry{
		width: 90vw !important;
	}
	.inputCard{
		width: 80vw !important;
		float: none !important;
	}
	.liveBackground{
		background-image: url("/randomPoster.php");
	}
	.channelList{
		width: 80vw !important;
	}
	.livePlayer{
		width: 100%;
	}
	.seriesBackground{
		background: var(--backgroundPoster) !important;
		background-size: 100vw 100vh !important;
		background-repeat: repeat !important;
		background-attachment: fixed !important;
	}
	.header .button{
		width: auto !important;
		display: block !important;
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;
	}
	#nfoMediaPlayer, video, audio{
		background-size: 100% 100%;
		margin: 0px !important;
		width: 100% !important;
		min-width: 0px !important;
	}
	.randomFanart{
		background: url("/randomPoster.php") !important;
		background-size: 100vw 100vh !important;
		background-repeat: repeat !important;
		background-attachment: fixed !important;
	}
	.progressIndicator{
		font-size: 1rem !important;
	}
	.hardLink{
		width: auto !important;
		display: block !important;
		text-align: center !important;
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
	}
	.aired{
		width: auto !important;
		margin: auto !important;
		float: none !important;
	}
	#topButton{
		font-size: 2rem; /* Increase font size */
		width: 100vw;
		margin: 0px;
		border-right: none;
		border-left: none;
	}
	.topButtonSpace{
		/*font-size: 2rem;*/
		height: 5rem;
		display: block !important;
		border-style: none;
	}
}
@media only screen and (max-width: 400px), (orientation: portrait){
	html{
		font-size: 42px;
		/* Make the scrollbar width thin on small touchscreen devices for FIREFOX */
		scrollbar-width: thin;
	}
}

#nfoMediaPlayer, video, audio{
	background-size: 100% 100%;
	margin: 15px;
	/*
	box-shadow: 0px 0px 1.5rem white;
	*/
	box-shadow: 0px 0px 1.5rem var(--borderColor);
	height: 400px;
	min-width: 800px;
	background-color: black;
}
.progressIndicator{
	width: 100vw;
	margin: 0px;
	text-align: center;
	background-color: darkgreen;
	color: var(--textColor);
	position: fixed;
	top: 0px;
	z-index: 99;
	font-size: 0.01rem;
	padding: 0px !important;
}
.settingsTab{
	display: inline-block;
}
#settingsButton{
	float: right;
}
#homeButton{
	float: left;
}
.videoPlayerControls{
	font-size: 100% !important;
}
.videoPlayerControls .button{
	padding: 0px !important;
	margin: 0px !important;
	margin-left: 0px !important;
	margin-right: auto !important;
	font-size: 100% !important;
	text-align: center !important;
	height: 2rem;
	width: 2rem;
	vertical-align: top;
}
#videoPlayerContainer{
	background-color: var(--glassBackground);
	box-shadow: 0px 0px 1rem var(--shadowColor);
	vertical-align: top;
}
#videoPlayerContainer #video{
	width: 100% !important;
	box-shadow: none !important;
}
@media all and (display-mode: fullscreen){
	/*
	@media (hover: none){
		/*Fullscreen and touchscreen only*/
		/*
		.videoPlayerControls .button{
			font-size: 2vh !important;
		}
		.videoPlayerControls{
			font-size: 1vh !important;
		}
	}
	*/
	#videoPlayerContainer #video{
		width: 100% !important;
		height: 95% !important;
	}
	.videoPlayerControls{
		width: 100% !important;
		height: 5% !important;
		background-color: black;
		opacity: 0;
	}
	.videoPlayerControls:hover{
		opacity: 1;
	}
	#videoPlayerContainer{
		background-color: black;
	}
}
input{
	font-size: 1rem;
}
.button{
	box-shadow: 0px 0px 1rem var(--shadowColor);
	margin: 1rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	padding: 0.5rem;
	border-style: solid;
	border-color: var(--borderColor);
	background-color: var(--glassBackground);
	color: var(--textColor);
	border-width: 0.2rem;
	text-decoration: none;
	text-align: center;
}

.titlecard .button{
	white-space: nowrap;
	font-size: 1rem;
	line-height: 4rem;
}
.header .button{
	white-space: nowrap;
	line-height: 3rem;
}
.button:hover{
	box-shadow: 0px 0px 0px var(--shadowColor);
	color: var(--highlightText);
	background-color: var(--highlightBackground);
	border-color: var(--highlightBorder);
	border-style: inset !important;
}
.comicTitleButton{
	display: inline-block;
}
.comicFooter{
	width: 10vw;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.right{
	float: right;
}
.left{
	float: left;
}
.comicHeader{
	margin-right: auto;
	margin-left: auto;
	width: 10vw;
	text-align: center;
}
.comicThumb{
	width: 20vw;
}
.comicWidePane{
	/*This means the picture is a landscape*/
	/*background-size: 100vw 100vh !important;*/
	background-size: 100% 100% !important;
	margin: 0px !important;
	width: 100vw !important;
	/*height: 100vh;*/
	height: 100vh !important;
}
.comicThumbWidePane{
	/*This means the picture is a landscape*/
	/*background-size: 100vw 100vh !important;*/
	background-size: 100% 100% !important;
	margin: 0px !important;
	width: 100vw !important;
	/*height: 100vh;*/
	height: 100vh !important;
}

.comicThumbPane{
	background-size: 100% 100% !important;
	/*This means the picture is a portrat*/
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	width: 60vw !important;
	height: 100vh !important;
	height: -webkit-fill-available !important;
}
.comicPane{
	background-size: 100% 100% !important;
	/*This means the picture is a portrat*/
	margin-left: 20vw !important;
	margin-right: 20vw !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	width: 60vw !important;
	height: 100vh !important;
	height: -webkit-fill-available !important;
}
/*
@media screen (max-width: 800px), (orientation: portrait), (hover: none){
*/
@media only screen and (max-width: 800px), (orientation: portrait){
	.videoPlayerControls{
		font-size: 1rem;
	}
	/***********************************************/
	/*This means the web browser is in portrat mode*/
	/***********************************************/
	.titlecard .button{
		/*
		display: inline-block;
		width: -webkit-fill-available;
		*/
	}
	.comicPane{
		/*This means the picture is a portrat picture*/
		font-size: 0.5rem;
		background-size: 100% 100% !important;
		/*Rremove left and right margins on screen*/
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin: 0px !important;
		width: 100vw !important;
		width: -webkit-fill-available !important;
		height: 100vh !important;
		height: -webkit-fill-available !important;
	}
	.comicThumbPane{
		/*This means the picture is a portrat picture*/
		font-size: 0.5rem;
		background-size: 100% 100% !important;
		/*Rremove left and right margins on screen*/
		margin-left: 0px !important;
		margin-right: 0px !important;
		margin: 0px !important;
		width: 100vw !important;
		width: -webkit-fill-available !important;
		height: 100vh !important;
		height: -webkit-fill-available !important;
	}
	.comicWidePane{
		/*This means the picture is a landscape picture*/
		font-size: 0.5rem;
		background-size: 100% 100% !important;
		/*Rremove left and right margins on screen*/
		margin-left: 0px !important;
		margin-right: 0px !important;
		/*Add top and bottom margins on screen*/
		margin-top: 20vh !important;
		margin-bottom: 20vh !important;
		width: 100vw !important;
		width: -webkit-fill-available !important;
		height: 60vh !important;
	}
	.comicThumbWidePane{
		/*This means the picture is a landscape picture*/
		font-size: 0.5rem;
		background-size: 100% 100% !important;
		/*Rremove left and right margins on screen*/
		margin-left: 0px !important;
		margin-right: 0px !important;
		/*Add top and bottom margins on screen*/
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		width: 100vw !important;
		width: -webkit-fill-available !important;
		height: 60vh !important;
	}

}
.center{
	text-align: center;
}
.comicHomeButton{
}
.comicIndexButton{
	width: 40%;
}
.comicPagePopup{
	position: fixed;
	left: 30%;
	right: 30%;
	z-index: 98;
	bottom: 0px;
	border-style: solid;
	border-color: var(--borderColor);
	opacity: 0 !important;
	transition: opacity 1s ease;
	background-color: var(--glassBackground);
	font-size: 2rem;
	padding-bottom: 2rem;
}
.comicPagePopup:hover{
	opacity: 1 !important;
	box-shadow: 0px 0px 0px var(--shadowColor);
	color: var(--highlightText);
	background-color: var(--highlightBackground);
	border-color: var(--highlightBorder);
	border-style: inset !important;
}
.comicPageButton{
	width: 10%;
	min-height: 50vh;
	height: -webkit-fill-available;
	height: -moz-fill;
	font-size: 2rem;
	box-shadow: 0px 0px 1rem var(--shadowColor);
	margin: 0rem;
	padding: 1rem;
	border-style: solid;
	border-color: var(--borderColor);
	background-color: var(--glassBackground);
	color: var(--textColor);
	border-width: 0.2rem;
	text-decoration: none;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.comicPageButton:hover{
	width: 12%;
	opacity: 1;
	box-shadow: 0px 0px 0px var(--shadowColor);
	color: var(--highlightText);
	background-color: var(--highlightBackground);
	border-color: var(--highlightBorder);
	border-style: inset !important;
}
.indexBody{
	text-align: center;
}
/************************************/
/* SERIES icons for main index page */
/************************************/
.listCard{
	white-space: nowrap;
	overflow-x: auto;
	padding: 0.5rem;
}
.aired{
	float: left;
	/*
	color: white;
	*/
	color: var(--textColor);
	border: 0.5rem dotted;
	padding: 1rem;
	margin-right: 1rem;
	text-align: center;
}
.settingListCard h1{
	margin: 0px;
	background-color: var(--solidBackground);
}
.settingListCard h2{
	margin: 0px;
	background-color: var(--solidBackground);
}
.settingListCard h3{
	margin: 0px;
	background-color: var(--solidBackground);
}
.titleCard h1{
	margin: 0px;
	background-color: var(--solidBackground);
}
.titleCard h2{
	margin: 0px;
	background-color: var(--solidBackground);
}
.titleCard h3{
	margin: 0px;
	background-color: var(--solidBackground);
}
.descriptionCard h1{
	margin: 0px;
	background-color: var(--solidBackground);
}
.descriptionCard h2{
	margin: 0px;
	background-color: var(--solidBackground);
}
.descriptionCard h3{
	margin: 0px;
	background-color: var(--solidBackground);
}
.inputCard h1{
	margin: 0px;
	background-color: var(--solidBackground);
}
.inputCard h2{
	margin: 0px;
	background-color: var(--solidBackground);
}
.inputCard h3{
	margin: 0px;
	background-color: var(--solidBackground);
}
.seasonContainer h1{
	margin: 0px;
	background-color: var(--solidBackground);
}
.seasonContainer h2{
	margin: 0px;
	background-color: var(--solidBackground);
}
.titleCard{
	/*
	background-color: rgba(100,100,100,0.85);
	*/
	background-color: var(--glassBackground);
	box-shadow: 0px 0px 1rem var(--shadowColor);
	margin: 1rem;
	padding-bottom: 0.5rem;
}
.listCard .indexSeries{
	min-height: 0rem !important;
	width: 4rem !important;
	height: 6rem !important;
}
.listCard .indexSeries div{
	display: none;
}
.listCard .indexSeries img{
	width: 100%;
	height: 100%;
}
.indexSeries{
	font-size: 1rem;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	margin: 1rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	display: inline-block;
	color: var(--textColor);
	background-color: var(--glassBackground);
	border: 0.2rem solid var(--borderColor);
	width: 6rem;
	min-height: 12rem;
	box-shadow: 0px 0px 1rem var(--shadowColor);
	/*
	width: 200px;
	height: 350px;
	*/
}
.indexSeries:hover{
	box-shadow: 0px 0px 0px var(--shadowColor);
	color: var(--highlightText);
	background-color: var(--highlightBackground);
	border-color: var(--highlightBorder);
	border-style: inset !important;
}
.indexSeries:hover img{
	opacity: 0.9;
}
.hardLink{
	float: right;
}
.indexSeries img{
	background-color: white;
	width: 100%;
	height: 10rem;
	/*
	width: 10vw;
	width: 200px;
	height: 300px;
	*/
}
.indexSeries div{
	text-align: center;
	width: auto;
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}
.indexSeries img{
	background-image: var(--staticBackground);
}
a{
	color: var(--textColor);
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
	color: var(--highlightText);
	background-color: var(--hightlightBackground);
}
p:before {
	content: " ";
}
p{
	padding: 10px;
}
dl{
	text-align: left;
}
ul{
	color: var(--textColor);
	text-align: left;
	padding-inline-start: 2rem;
}
ol{
	color: var(--textColor);
	text-align: left;
	padding-inline-start: 2rem;
}
.sXXeXX{
	display: inline-block;
}
/*******************************/
/* EPISODE icons for show page */
/*******************************/
.showPageEpisode{
	font-size: 1rem;
	border: 4px solid white;
	box-shadow: 0px 0px 1rem var(--shadowColor);
	text-align: center;
	text-decoration: none;
	color: var(--textColor);
	text-align: center;
	margin: 1rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	display: inline-block;
	background-color: var(--glassBackground);
	width: 8rem;
	/*
	height: 8rem;
	height: 10vw;
	height: 300px;
	*/
	background-size: 100vw 100vw;
	vertical-align: top;
	overflow-y: hidden;
	overflow-x: hidden;
}
.showIndexNumbers{
	border-bottom: 2px solid white;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
}
.showPageEpisode h2{
	margin: 0px;
	font-size: 1rem;
	/*
	background-color: var(--solidBackground);
	*/
}
.showPageEpisode h3{
	font-size: 0.5rem;
	/*
	width: 200px;
	height: 250px;
	*/
	text-align: center;
	word-wrap: break-word;
	display: inline-block;
	/*
	align-itrems: flex-end;
	overflow-y: hidden;
	overflow-x: hidden;
	*/
}
.showPageEpisode:hover{
	box-shadow: 0px 0px 0px var(--shadowColor);
	color: var(--highlightText);
	background-color: var(--highlightBackground);
	border-color: var(--highlightBorder);
	border-style: inset !important;
}
.showPageEpisode img{
	width: 100%;
	height: 4rem;
	background-color: white;
	background-image: var(--staticBackground);
}
.showPageEpisode:hover img{
	opacity: 0.9;
}

/*
.showPageEpisode div{
	text-align: center;
	width: 200px;
	height: 150px;
}
/*******************************/
table, th, td{
	border: 1px solid white;
	color: white;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	text-shadow: none;
}
/*
table{
	width: 90vw;
}
*/
.player audio{
	height: 400px;
}
.player video{
	height: 400px;
}
.livePlayer{
	width: 50%;
	min-width: 0px;
	margin: 0px;
	height: 20rem;
}
.descriptionCard{
	margin-top: 1rem;
	text-align: left;
	box-shadow: 0px 0px 1rem var(--shadowColor);
	background-color: var(--glassBackground);
	min-height: 8rem;
}
/*
.descriptionCard h2{
	background-color: var(--glassBackground);
}
*/
.settingListCard{
	text-align: left;
	box-shadow: 0px 0px 1rem var(--shadowColor);
	color: var(--textColor);
	background-color: var(--glassBackground);
	min-height: 8rem;
	text-align: center;
}
#player{
	box-shadow: 0px 0px 1rem var(--shadowColor);
	object-fit: cover;
	float: left;
	background-color: lightgray;
	height: 530px;
	text-align: center;
}
.channelList{
	height: 22rem;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 40%;
	display: inline-block;
	vertical-align: inherit;
}
.channelIcon{
	width: 2rem;
	height: 2rem;
}
.buttonContainer{
	float: right;
}
.settingsEntry h2{
	display: inline;
	float: left;
	background-color: transparent;
}
.settingsEntry ::selection{
	color: var(--highlightText);
	background-color: var(--solidBackgroun);
}
.settingsEntry ::-moz-selection{
	color: var(--highlightText);
	background-color: var(--solidBackground);
}
.settingsEntry form{
	display: inline;
}
.settingsEntry img{
	width: 1rem;
	height: 1rem;
	float: left;
}
.settingsEntry .button{
	/*
	width: 40vw;
	*/
	float: none;
	font-size: 1rem;
}
.settingsEntry{
	margin: 1rem;
	/*
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	margin-left: auto;
	margin-right: auto;
	*/
	overflow: auto;
	background-color: white;
	word-wrap: break-word;
	display: inline-block;
	width: 45vw;
	color: black;
	float: none;
	min-height: 5rem;
	text-align: center;
	vertical-align: top;
	word-break: break-all;
}
.searchBox{
	width: 80vw;
	font-size: 2rem;
	border-style: solid;
	border-color: var(--borderColor);
	background-color: var(--glassBackground);
	color: var(--textColor);
	border-width: 0.2rem;
	text-align: center;
}
.inputCard{
	text-align: center;
	box-shadow: 0px 0px 1rem var(--shadowColor);
	background-color: var(--glassBackground);
	width: 40vw;
	display: inline-block;
	margin: 1rem;
	float: none;
	min-height: 3rem;
	max-height: 45rem;
	vertical-align: top;
}
pre{
	text-align: left;
	overflow: auto;
}
table{
	width: 100%;
	padding: 0px !important;
	margin: 0px !important;
}
tr{
	width: 100%;
}
.settingsTable{
	/*
	overflow: scroll;
	*/
	width: 95vw;
	margin-left: auto;
	margin-right: auto;
}
.settingsTableData{
	width: 100%;
}
.weatherIcon{
	font-size: 4rem;
}
.weatherHomepageIcon{
	padding: 1rem;
}
.forcastSub{
	font-size: 0.01rem;
}
.weatherForcast{
	background-color: var(--glassBackground);
	width: 8rem;
	vertical-align: top;
	display: inline-block;
	box-shadow: 0px 0px 1rem var(--shadowColor);
	margin: 1rem;
}
.weatherDescription{
	overflow-y: auto;
	font-size: 0.8rem;
	white-space: normal;
	max-height: 15rem;
	text-align: left;
}
.weatherForcast h3{
	background-color: var(--solidBackground);
	margin: 0px;
	/*
	height: 2rem;
	*/
	font-size: 1rem;
	vertical-align: center;
}
.weatherStationInfo{
	font-size: 0.6rem;
	float: left;
}
.goodWeather{
	font-size: 1.2rem;
}
.downloadIcon{
	color: lightgreen;
}
.loginLogoutBox{
	display: none;
	text-align: right;
	line-height: 3rem;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 99;
}
/*
.header{
	padding-right: 10%;
}
*/
.header{
	text-decoration: none;
	text-align: center;
	color: var(--textColor);
	display: inline-block;
	width: 95vw;
	margin: 2vw;
/*
	white-space: nowrap;
*/
}
/*
.headerLoginButton{
	display: none;
}
*/
/*
@media (hover: none){
	.header{
		margin-right: 0px;
	}
	.headerLoginButton{
		display: inline-block;
	}
	.loginLogoutBox{
		display: none;
	}
}
*/
.loginLogoutBoxSpacer{
	display: none;
	width: 5rem;
	margin: 1rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	padding: 0.5rem;
	border-style: solid;
	border-color: transparent;
	border-width: 0.2rem;
}
@media only screen and (max-width: 1250px), (orientation: portrait){
	/*
		 For the inbetween state of all and small
	*/
	.headerText{
		display: inline !important;
		font-size: 0.5rem !important;
	}
	.loginLogoutBoxSpacer{
		display: inline-block;
	}
	.headerLoginButton{
		display: none;
	}
	.loginLogoutBox{
		display: block;
	}
	.header{
		margin-right: 0px;
	}
}
@media only screen and (max-width: 1100px), (orientation: portrait){
	/* hide the text in the header links to fit the links on the page */
	.headerText{
		display: none !important;
	}
}
@media only screen and (max-width: 800px), (orientation: portrait){
	/*
		This is for small portrat mode
	*/
	.headerText{
		display: inline !important;
	}
	.loginLogoutBoxSpacer{
		display: inline-block;
	}
	.headerLoginButton{
		display: block;
	}
	.loginLogoutBox{
		display: none;
	}
	.header{
		margin-right: 0px;
	}
}
.fortuneText{
	white-space: pre;
	text-align: left;
	font-family: monospace;
	max-height: 100rem;
	font-size: 1rem;
	overflow: auto;
	padding: 0.5rem;
}
pre{
	border: solid;
	background-color: var(--solidBackground);
	padding: 1rem;
	margin: 0.5rem;
}
/* Set the dark mode theme */
@media (perfers-color-scheme: dark){
	:root{
		--solidBackground: #383838;
		--glassBackground: rgba(100,100,100,0.85);
		--borderColor: white;
		--textColor: white;
		--shadowColor: black;
		--highlightText: black;
		--highlightBackground: white;
		--highlightBorder: lightgray;
		--staticBackground: radial-gradient(var(--solidBackground), var(--glassBackground));
	}
}
.footer{
	min-height: 2rem;
}
.viewCounterBox{
	text-align: left;
	background-color: var(--glassBackground);
	font-size: 1rem;
	float: left;
}
.viewCounterHeader{
	background-color: var(--solidBackground);
	border-style: solid;
	border-right: none;
}
.executionTimeHeader{
	background-color: var(--solidBackground);
	border-style: solid;
	border-left: none;
}
.viewCounter{
	font-size: 1rem;
	border-style: solid;
}
.executionTime{
	border-style: solid;
	border-left: none;
}
.tempIcon{
	text-align: left;
	font-style: bold;
	border-style: solid;
	border-color: white;
	width: min-content;
	float: right;
}
.seasonContainer .showPageEpisode h2{
	display: none !important;
}
.albumPlayer{
	background: url("album.png");
	background-size: 100% 100%;
	height: 2rem !important;
}
.albumPlayerThumb{
	float: right;
	height: 10rem !important;
}
.albumPlayerInfo{
	min-height: 10rem;
}
