:root{
	--solidBackground: #B0B0B0;
	--glassBackground: white;
	--borderColor: black;
	--textColor: black;
	--shadowColor: black;
	--highlightText: white;
	--highlightBackground: lightgray;
	--highlightBorder: black;
	--staticBackground: radial-gradient(var(--solidBackground), var(--glassBackground));
}
