:root{
	--solidBackground: darkblue;
	--glassBackground: rgb(0,0,100);
	--borderColor: white;
	--textColor: white;
	--shadowColor: black;
	--highlightText: black;
	--highlightBackground: white;
	--highlightBorder: lightgray;
	--staticBackground: radial-gradient(var(--solidBackground), var(--glassBackground));
}
