:root{
	--solidBackground: darkred;
	--glassBackground: rgba(100,0,0,0.85);
	--borderColor: white;
	--textColor: white;
	--shadowColor: black;
	--highlightText: black;
	--highlightBackground: rgba(256,256,256,0.9);
	--highlightBorder: lightgray;
	--staticBackground: radial-gradient(var(--solidBackground), var(--glassBackground));
}
