:root{
	--solidBackground: #37003b;
	--glassBackground: rgba(112,0,115,0.85);
	--borderColor: white;
	--textColor: white;
	--shadowColor: black;
	--highlightText: black;
	--highlightBackground: rgba(256,256,256,0.9);
	--highlightBorder: lightgray;
	--staticBackground: repeating-radial-gradient(black, var(--solidBackground) 0.001%, black 0.001%);
}
